.show-full-item {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.645);
  z-index: 555555;
  overflow: auto;
}

.show-full-item-container {
  width: 600px;
  position: relative;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 30px 25px;
  border-radius: 20px;
}

.show-full-item-image {
  cursor: pointer;
  width: 100%;
  transition: transform 0.5s ease;
}
.show-full-item-image:hover {
  transform: scale(1.01);
}

.close-show-full-item {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
